/* Unorderlist */

/* ul{
    list-style-type: disc;
} */

/* Orderlist */

/* ol{
    list-style-type: decimal-leading-zero;
} */

/* Images for bullet */

/* ul{
    list-style-image: url('./assest/bullet.png');
} */
/* li {
    margin: 10px 0px 0px 0px;
} */

/* List Style Position */

 /* .illuminations{
    list-style-position: outside;
 }
 .season{
    list-style-position: inside;
 } */

 /* List Shorthand */

 /* ul{
    list-style: inside square;
 } */

 /* Table Properties */

 /* table{
    width: 600px;
    padding: 20px;
    text-transform: uppercase;
    border-top: 1px solid red;
    border-bottom: 1px solid green;

} */
/* 
table, td, th{
    border: 1px solid red;
    border-collapse: collapse;
    text-align: left;
} */
/* table{
    background-color: aqua;
} */
/* tr:hover{
    background-color: wheat;
    cursor: pointer;
}

td{
    padding: 20px;
} */

/* th{
    background-color: black;
    color: white;
} */

/* .even{
    background-color: black;
    color: white;
} */


/* Empty Cell */

/* td {
    border: 1px solid #0088dd;
    padding: 15px;
}
table.one {
    empty-cells: show;
}
table.two {
    empty-cells: hide;
} */

/* Gaps Between Cells */

/* td {
    background-color: #0088dd;
    padding: 15px;
    border: 2px solid #000000;}
table{
    border-collapse: collapse;
} */

/* Styling Forms */
/* #ln{
    margin: top 5px;
} */

/* input{
    font-size: xx-large;
    color: white;
    background-color: black;
} */

/* input{
    border: 5px solid rebeccapurple;
    border-radius: 10px;
} */

/* input:hover{
    background-color: lightblue;
}
input:focus{
    border: 5px solid black;
    outline: none;
} */
/* #fn{
    background-image: url('./assest/email.png');
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 20px;
}
#ln{
    background-image: url('./assest/github.png');
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 20px;
} */



/* fieldset {
    width: 350px;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    padding: 20px;
    text-align: right;
}
legend {
    background-color: #efefef;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: left;
    text-transform: uppercase;
} */